*{
    margin: 0;
    padding: 0;
    font-weight: 1;
}
@font-face {
    font-family: 'apparat';
    src: url(KMR-Apparat-Medium.woff);
}
@font-face {
    font-family: 'romek';
    src: url(d3V2GtHG.woff2);
}
@font-face {
    font-family: 'romek-big';
    src: url(GLECB.woff);
}
h1 {
    font-family: apparat, Helvetica, sans-serif;
    font-size: 0.9rem;
}
h2 {
    font-family: romek, 'Times New Roman', Times, serif;
    font-size: 0.9rem;
}
h3 {
    font-family: romek-big, 'Times New Roman', Times, serif;
    font-size: 5rem;
}

/* _________ */

header {
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
    padding-top: 0.2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.logo {
    height: 7rem;
}
.fixed {
    margin-left:auto;
    margin-right: 1.2rem;
    width: 6rem;
    top: 0.5rem; 
    z-index: 1000;
}
.fixed img {
    transform: translateY(-4rem);
    padding-top: 4rem;
    height: 2rem;
}
footer {
    display: inline-flex;
    text-align: center;
    z-index: 1000;
    top: 0;
    margin-bottom: 5rem;
    margin-left: 1.2rem;
}
.footer-container {
    display: inline-flex;

}
footer img {
    height: 0.7rem;
    margin-right: 0.5rem;
    transform: translateY(0.15rem);
}


.content img{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    max-width: 100%; 
}
.article {
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;

    border: 0;
    border-top: 2px;
    border-style: solid;
}

/* _________ */

header img, footer .hover-footer:hover {
    text-decoration: underline;
    cursor: pointer;
}
.content img, content h3:hover {
    cursor: pointer;
} 