*{
    margin: 0;
    padding: 0;
    font-weight: 1;
}
@font-face {
    font-family: 'apparat';
    src: url(KMR-Apparat-Medium.woff);
}
h1 {
    font-family: apparat, Helvetica, sans-serif;
    font-size: 0.9rem;
}

/* _________ */

header {
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
    margin-top: 0.8rem;
    text-align: center;
    transition: width 0.3s;
}
.logo {
    margin-top: 0.2rem;
    height: 3rem;
}
.fixed {
    width: 6rem;
    top: 0; 
    left: 0; 
    z-index: 1000; 
}

.content img{
    padding-right: auto;
    padding-left: auto;
}

footer {
    position: fixed;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    text-align: center;
    width: 99.4vw;
    z-index: 1000;
}

/* _________ */

header img, h1:hover {
    text-decoration: underline;
    cursor: pointer;
}