*{
    margin: 0;
    padding: 0;
    font-weight: 1;
}
@font-face {
    font-family: 'apparat';
    src: url(KMR-Apparat-Medium.woff);
}
h1 {
    font-family: apparat, Helvetica, sans-serif;
    font-size: 0.9rem;
}
header {
    display: grid;
    grid-template-columns: 0.1fr 4fr 1fr 1.3fr 1fr;
    margin: 1rem;
    margin-top: 0.8rem;
    text-align: right;
    margin-right: 2rem;
}
header h1 {
    margin-top: 0.3rem;
}
.logo {
    margin-top: 0.2rem;
    height: 1.3rem;
    margin-left: 0.4rem;
}

/* _________ */

header img, h1:hover {
    text-decoration: underline;
    cursor: pointer;
}